<% if user_signed_in? %>
<h2 class='text-center mt-3'>Редактировать твит</h2>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <% if @post.errors.any? %>
    <div class='col-md-4 mb-3'>
      <% @post.errors.full_messages.each do |msg|%>
        <div class='alert alert-danger'><%= msg %></div>
      </div>
    <% end %>
  <% end %>
  <div class="post__new">
    <div class='post__title'>
      <%= f.text_field :title, class:'form-control mb-6', placeholder:'Название'  %>
    </div>
    <div class='post__text'>
      <%= f.text_area :text,size: "25x7", class:'form-control', placeholder:'Текст' %>
    </div>
    <div class='text-center'>
      <%= f.submit class:'btn btn-success'%>
    </div>
  </div>
<% end %>
<% else %>
  <div class='security'>
    <div>
      <h2 class='ml-5 mb-5 mt-5 mr-5'>Вы не авторизированы!</h2>
      <div class='text-center ml-3 mb-3 mt-3 mr-3'>
      <%= link_to 'Войти', new_user_session_path, class:'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2' %> или <%= link_to 'Зарегистрироваться', new_user_registration_path, class:'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2' %>
      </div>
    </div>
  </div>
<% end %>
