<% if user_signed_in? %>
<div class="profile__edit">
  <%= form_for(@profile) do |f| %>
    <div class="form-label-group mb-3">
      <%= f.text_field :nickname, class:'form-control', placeholder:'Ник' %>
    </div>
    <div class="form-label-group mb-3">
      <%= f.text_field :first_name, class:'form-control', placeholder:'Имя' %>
    </div>
    <div class="form-label-group mb-3">
      <%= f.text_field :second_name, class:'form-control', placeholder:'Фамилия' %>
    </div>
    <div class="form-label-group mb-3">
      <%= f.text_field :age, class:'form-control', placeholder:'Возраст' %>
    </div>
    <div class="custom-checkbox mb-3">
      <div class="actions">
        <%= f.submit "Сохранить",  class:'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mt-5 mb-3' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class='security'>
    <div>
      <h2 class='ml-5 mb-5 mt-5 mr-5'>Вы не авторизированы!</h2>
      <div class='text-center ml-3 mb-3 mt-3 mr-3'>
      <%= link_to 'Войти', new_user_session_path, class:'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2' %> или <%= link_to 'Зарегистрироваться', new_user_registration_path, class:'btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2' %>
      </div>
    </div>
  </div>
<% end %>
